@font-face {
  font-family: "mont regular";
  src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "mont extraBold";
  src: url(../font/Montserrat-ExtraBold.ttf);
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

header .nav .nav-container {
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 1250px;
  margin: 15px auto 20px;
}
header .nav a {
  place-self: end start;
}
header .nav a img {
  width: 180px;
}
@media screen and (max-width: 1290px) {
  header .nav a img {
    margin-left: 15px;
    width: 165px;
  }
}
@media screen and (max-width: 1140px) {
  header .nav a img {
    width: 170px;
  }
}
header .nav .contain {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1277px) {
  header .nav .contain {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1140px) {
  header .nav .contain {
    display: none;
  }
}
header .nav .contain .p-contain {
  background: rgb(24, 74, 139);
  border-radius: 90px;
  padding: 7px;
  margin-left: 65%;
}
header .nav .contain .p-contain p {
  color: rgb(255, 255, 255);
  font-family: mont regular;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
@media screen and (max-width: 1277px) {
  header .nav .contain .p-contain p {
    font-size: 0.7rem;
    padding: 2px 0;
  }
}
header .nav .contain .p-contain p i {
  color: rgb(178, 212, 252);
}
header .nav .contain .upper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
header .nav .contain .upper li {
  font-family: "mont extraBold";
  font-weight: bold;
  color: rgb(24, 74, 139);
}
header .nav .contain .upper li a,
header .nav .contain .upper li a:visited {
  color: rgb(24, 74, 139);
}
header .view {
  background: rgb(178, 212, 252);
  margin-bottom: 30px;
}
header .view .view-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "texte image";
  padding: 30px 20px 20px 20px;
}
@media screen and (max-width: 980px) {
  header .view .view-container {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "texte";
    gap: 40px;
    padding-bottom: 30px;
  }
}
header .view .view-container .view-left {
  grid-area: texte;
  display: -ms-flexbox;
  display: flex;
}
header .view .view-container .view-left .view-left-container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: "a b";
}
@media (max-width: 980px) {
  header .view .view-container .view-left .view-left-container {
    grid-template-columns: 1fr;
    grid-template-areas: "b" "a";
  }
}
header .view .view-container .view-left .view-left-container .view-left-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 980px) {
  header .view .view-container .view-left .view-left-container .view-left-left {
    display: block;
    -ms-flex-pack: initial;
        justify-content: initial;
    -ms-flex-align: initial;
        align-items: initial;
  }
}
header .view .view-container .view-left .view-left-container .view-left-left .span-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  gap: 10px;
  border: 1px solid transparent;
  background: rgb(193, 221, 253);
  width: 20%;
  border-radius: 50px;
  padding: 20px;
}
@media (max-width: 980px) {
  header .view .view-container .view-left .view-left-container .view-left-left .span-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    margin-top: 50px;
    -ms-flex-pack: center;
        justify-content: center;
  }
}
@media (max-width: 600px) {
  header .view .view-container .view-left .view-left-container .view-left-left .span-container {
    width: 30%;
    height: 10px;
  }
}
@media (max-width: 450px) {
  header .view .view-container .view-left .view-left-container .view-left-left .span-container {
    width: 40%;
    height: 10px;
  }
}
header .view .view-container .view-left .view-left-container .view-left-left .span-container .texte {
  grid-area: a;
}
header .view .view-container .view-left .view-left-container .view-left-left .span-container i {
  font-size: 0.6rem;
  place-self: center;
  display: block;
}
header .view .view-container .view-left .view-left-container .view-left-right {
  grid-area: b;
}
@media screen and (max-width: 980px) {
  header .view .view-container .view-left .view-left-container .view-left-right {
    text-align: left;
  }
}
header .view .view-container .view-left .view-left-container .view-left-right h1 {
  font-family: "mont extraBold";
  letter-spacing: 1.2px;
  font-size: 3.2rem;
  color: rgb(46, 46, 46);
}
@media screen and (max-width: 1140px) {
  header .view .view-container .view-left .view-left-container .view-left-right h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 980px) {
  header .view .view-container .view-left .view-left-container .view-left-right h1 {
    font-size: 2rem;
  }
}
header .view .view-container .view-left .view-left-container .view-left-right .href {
  margin-top: 20px;
}
@media (max-width: 980px) {
  header .view .view-container .view-left .view-left-container .view-left-right .href {
    margin-top: 30px;
  }
}
header .view .view-container .view-left .view-left-container .view-left-right .href a {
  border: 2px solid rgb(0, 0, 0);
  padding: 15px;
  border-radius: 80px;
  text-transform: uppercase;
  font-family: "mont extraBold";
  font-weight: 300;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}
header .view .view-container .view-left .view-left-container .view-left-right .href a i {
  transform: translateX(5px);
  transition: 0.3s;
}
header .view .view-container .view-left .view-left-container .view-left-right .href a:hover i {
  transform: translateX(10px);
}
header .view .view-container .view-right {
  background: url(../image/image1.webp) center/cover;
  height: 400px;
  grid-area: image;
}
@media screen and (max-width: 980px) {
  header .view .view-container .view-right {
    width: 100%;
    margin: 30px auto;
    height: 300px;
  }
}

.txt {
  height: 250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  align-items: center;
}
.txt .txt-container {
  max-width: 1000px;
  margin: 0px auto;
}
.txt .txt-container p {
  font-family: mont regular;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 2;
  place-items: center;
  display: block;
  letter-spacing: 1px;
}
@media screen and (max-width: 1070px) {
  .txt .txt-container p {
    padding: 0 20px;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 520px) {
  .txt .txt-container p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 469px) {
  .txt .txt-container p {
    padding-bottom: 30px;
  }
}
.txt .txt-container p a {
  text-decoration: underline;
  font-family: "mont extraBold";
  text-underline-offset: 1.5px;
}

main {
  background: rgb(24, 74, 139);
  padding: 30px;
}
main .main-container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 30px;
}
@media screen and (max-width: 1070px) {
  main .main-container {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0 auto;
  }
}
main .main-container h2 {
  font-family: "mont extraBold";
  letter-spacing: 1.5px;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  padding-bottom: 40px;
}
@media screen and (max-width: 870px) {
  main .main-container h2 {
    text-align: left;
    font-size: 2.5rem;
  }
}
main .main-container .expertise .expertise-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}
@media screen and (max-width: 870px) {
  main .main-container .expertise .expertise-container {
    display: block;
  }
}
main .main-container .expertise .expertise-container .expertise-left > div {
  display: grid;
  grid-template-columns: 25% 65% 10%;
  grid-template-areas: "enfant1 enfant2 enfant3";
  background: rgb(255, 255, 255);
  margin: 20px 0;
  padding: 30px 10px;
  border-radius: 5px;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}
@media (max-width: 1066px) {
  main .main-container .expertise .expertise-container .expertise-left > div {
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    grid-template-areas: "enfant1 enfant2" ". enfant3";
  }
}
main .main-container .expertise .expertise-container .expertise-left > div > :nth-child(1) {
  grid-area: enfant1;
}
main .main-container .expertise .expertise-container .expertise-left > div > :nth-child(2) {
  grid-area: enfant2;
}
main .main-container .expertise .expertise-container .expertise-left > div > :nth-child(3) {
  grid-area: enfant3;
}
main .main-container .expertise .expertise-container .expertise-left > div .image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  display: grid;
}
main .main-container .expertise .expertise-container .expertise-left > div .image img {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* ou contain selon le rendu voulu */
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  place-self: center;
}
main .main-container .expertise .expertise-container .expertise-left > div .text {
  place-self: center;
  font-family: mont regular;
  font-weight: bold;
  font-size: clamp(12px, 1.8vw, 18px);
  overflow-wrap: break-word;
  padding-left: 15px;
}
@media screen and (max-width: 1070px) {
  main .main-container .expertise .expertise-container .expertise-left > div .text {
    place-self: start;
  }
}
main .main-container .expertise .expertise-container .expertise-left > div .text h5 {
  font-size: 1.2rem;
  padding-bottom: 8px;
  font-family: "mont extraBold";
  font-size: clamp(14px, 2vw, 18px);
}
@media screen and (max-width: 1166px) {
  main .main-container .expertise .expertise-container .expertise-left > div .text h5 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 870px) {
  main .main-container .expertise .expertise-container .expertise-left > div .text h5 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  main .main-container .expertise .expertise-container .expertise-left > div .text h5 {
    font-size: 1rem;
  }
}
main .main-container .expertise .expertise-container .expertise-left > div .text p {
  font-size: clamp(11px, 1.2vw, 14px);
  line-height: 1.8;
  font-size: 0.7rem;
  text-align: left;
  letter-spacing: 1px;
  font-weight: bold;
}
@media screen and (max-width: 1190px) {
  main .main-container .expertise .expertise-container .expertise-left > div .text p {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 870px) {
  main .main-container .expertise .expertise-container .expertise-left > div .text p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  main .main-container .expertise .expertise-container .expertise-left > div .text p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 554px) {
  main .main-container .expertise .expertise-container .expertise-left > div .text p {
    padding-bottom: 30px;
  }
}
main .main-container .expertise .expertise-container .bubble {
  place-self: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 80px;
  padding: 8px;
}
@media screen and (max-width: 1066px) {
  main .main-container .expertise .expertise-container .bubble {
    place-self: end;
  }
}
@media screen and (max-width: 870px) {
  main .main-container .expertise .expertise-container .bubble {
    bottom: -10px;
    position: absolute;
  }
}
main .main-container .expertise .expertise-container .bubble i {
  transform: rotate(53deg);
  font-size: 0.7em;
}
main .main-container .expertise .expertise-right > div {
  display: grid;
  grid-template-columns: 25% 65% 10%;
  grid-template-areas: "enfant1 enfant2 enfant3";
  background: rgb(255, 255, 255);
  margin: 20px 0;
  padding: 30px 10px;
  border-radius: 5px;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}
@media (max-width: 1066px) {
  main .main-container .expertise .expertise-right > div {
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    grid-template-areas: "enfant1 enfant2" ". enfant3";
  }
}
main .main-container .expertise .expertise-right > div > :nth-child(1) {
  grid-area: enfant1;
}
main .main-container .expertise .expertise-right > div > :nth-child(2) {
  grid-area: enfant2;
}
main .main-container .expertise .expertise-right > div > :nth-child(3) {
  grid-area: enfant3;
}
main .main-container .expertise .expertise-right > div .image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  display: grid;
}
main .main-container .expertise .expertise-right > div .image img {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* ou contain selon le rendu voulu */
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  place-self: center;
}
main .main-container .expertise .expertise-right > div .text {
  place-self: center;
  font-family: mont regular;
  font-weight: bold;
  font-size: clamp(12px, 1.8vw, 18px);
  overflow-wrap: break-word;
  padding-left: 15px;
}
@media screen and (max-width: 1070px) {
  main .main-container .expertise .expertise-right > div .text {
    place-self: start;
  }
}
main .main-container .expertise .expertise-right > div .text h5 {
  font-size: 1.2rem;
  padding-bottom: 8px;
  font-family: "mont extraBold";
  font-size: clamp(14px, 2vw, 18px);
}
@media screen and (max-width: 1166px) {
  main .main-container .expertise .expertise-right > div .text h5 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 870px) {
  main .main-container .expertise .expertise-right > div .text h5 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  main .main-container .expertise .expertise-right > div .text h5 {
    font-size: 1rem;
  }
}
main .main-container .expertise .expertise-right > div .text p {
  font-size: clamp(11px, 1.2vw, 14px);
  line-height: 1.8;
  font-size: 0.7rem;
  text-align: left;
  letter-spacing: 1px;
  font-weight: bold;
}
@media screen and (max-width: 1190px) {
  main .main-container .expertise .expertise-right > div .text p {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 870px) {
  main .main-container .expertise .expertise-right > div .text p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  main .main-container .expertise .expertise-right > div .text p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 554px) {
  main .main-container .expertise .expertise-right > div .text p {
    padding-bottom: 30px;
  }
}
main .main-container .expertise .bubble {
  place-self: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 80px;
  padding: 8px;
}
@media screen and (max-width: 1066px) {
  main .main-container .expertise .bubble {
    place-self: end;
  }
}
@media screen and (max-width: 870px) {
  main .main-container .expertise .bubble {
    bottom: -10px;
    position: absolute;
  }
}
main .main-container .expertise .bubble i {
  transform: rotate(53deg);
  font-size: 0.7em;
}

.about {
  max-width: 1200px;
  margin: 90px auto;
}
@media screen and (max-width: 1160px) {
  .about {
    padding: 0 20px;
  }
}
@media screen and (max-width: 870px) {
  .about {
    margin: 50px 0 90px 0;
  }
}
.about .about-container {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  margin: 40px 0;
}
@media screen and (max-width: 890px) {
  .about .about-container {
    display: block;
  }
}
@media screen and (max-width: 870px) {
  .about .about-container {
    margin: 0;
  }
}
.about .about-container h2 {
  font-family: "mont extraBold";
  font-size: 3rem;
  letter-spacing: 1.5px;
  place-self: start;
  padding-left: 10px;
}
@media screen and (max-width: 890px) {
  .about .about-container h2 {
    font-size: 2.4rem;
    margin-bottom: 30px;
  }
}
.about .about-container .about-item {
  border-bottom: 3px solid rgba(212, 212, 212, 0.374);
  padding-bottom: 30px;
  padding: 5px 10px 30px 10px;
  position: relative;
}
@media screen and (max-width: 870px) {
  .about .about-container .about-item {
    padding-top: 20px;
  }
}
.about .about-container .about-item .link .link-container {
  display: inline-block;
}
.about .about-container .about-item .link .link-container a,
.about .about-container .about-item .link .link-container a:visited {
  color: rgb(46, 46, 46);
}
.about .about-container .about-item .link .link-container a {
  border: 1px solid rgb(24, 74, 139);
  padding: 2px 14px;
  border-radius: 80px;
  font-family: "mont extraBold";
  font-size: 0.8rem;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 5px 30px 5px;
  transition: 0.3s;
}
.about .about-container .about-item .link .link-container a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.7px;
}
.about .about-container .about-item .news .news-container {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 180px;
}
@media screen and (max-width: 890px) {
  .about .about-container .about-item .news .news-container {
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
    -ms-flex-align: center;
        align-items: center;
  }
}
.about .about-container .about-item .news .news-container .img {
  height: 100%;
}
.about .about-container .about-item .news .news-container .img img {
  height: 35%;
  border-radius: 5px;
}
@media screen and (max-width: 1080px) {
  .about .about-container .about-item .news .news-container .img img {
    height: 30%;
  }
}
@media screen and (max-width: 890px) {
  .about .about-container .about-item .news .news-container .img img {
    display: block;
    height: 80%;
  }
}
.about .about-container .about-item .news .news-container p {
  font-family: mont regular;
  font-weight: bold;
  font-size: 1.1rem;
  padding-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 1140px) {
  .about .about-container .about-item .news .news-container p {
    padding-left: 15px;
  }
}
@media screen and (max-width: 1080px) {
  .about .about-container .about-item .news .news-container p {
    font-size: 1rem;
    padding-left: 20px;
  }
}
@media screen and (max-width: 890px) {
  .about .about-container .about-item .news .news-container p {
    padding-left: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    white-space: normal;
    place-self: start;
  }
}
.about .about-container .about-item .news .date span.num {
  font-family: mont regular;
  font-size: 0.9rem;
  font-weight: bold;
}
@media screen and (max-width: 890px) {
  .about .about-container .about-item .news .date span.num {
    font-size: 0.7rem;
  }
}
.about .about-container .about-item .news .date span.buble {
  position: absolute;
  right: 0;
  display: inline-block;
}
.about .about-container .about-item .news .date span.buble i {
  border: 1px solid transparent;
  border-radius: 45px;
  padding: 8px 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: rgba(212, 212, 212, 0.374);
}
.about .href {
  margin-top: 210px;
  cursor: pointer;
}
@media screen and (max-width: 1030px) {
  .about .href {
    text-align: center;
  }
}
.about .href a {
  border: 1px solid transparent;
  padding: 18px;
  border-radius: 80px;
  background: rgb(24, 74, 139);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: "mont extraBold";
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: 0.3s;
}
.about .href a:hover i {
  transform: translate(9px);
}
.about .href a i {
  transform: translateX(7px);
}

.projet {
  margin-top: 20px;
  background: rgb(241, 250, 253);
  padding: 30px 0;
}
.projet .projet-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 43% 57%;
}
@media screen and (max-width: 1150px) {
  .projet .projet-container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1030px) {
  .projet .projet-container {
    display: block;
  }
}
.projet .projet-container .projet-left {
  display: grid;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.projet .projet-container .projet-left .projet-left-container {
  padding: 90px 20px;
}
@media screen and (max-width: 1030px) {
  .projet .projet-container .projet-left .projet-left-container {
    padding-top: 10px;
  }
}
@media screen and (max-width: 710px) {
  .projet .projet-container .projet-left .projet-left-container {
    padding-bottom: 40px;
  }
}
.projet .projet-container .projet-left .projet-left-container h3 {
  font-family: "mont extraBold";
  font-size: 2.5rem;
  letter-spacing: 2px;
}
@media screen and (max-width: 600px) {
  .projet .projet-container .projet-left .projet-left-container h3 {
    font-size: 2.3rem;
  }
}
.projet .projet-container .projet-left .projet-left-container p {
  font-family: mont regular;
  width: 75%;
  line-height: 1.5;
  padding: 20px 0;
  font-weight: 500;
}
@media screen and (max-width: 1030px) {
  .projet .projet-container .projet-left .projet-left-container p {
    width: 90%;
  }
}
.projet .projet-container .projet-left .projet-left-container .href {
  margin-top: 30px;
  transition: 0.3s;
}
.projet .projet-container .projet-left .projet-left-container .href a {
  border: 1px solid transparent;
  padding: 18px;
  border-radius: 80px;
  background: rgb(24, 74, 139);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: "mont extraBold";
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.projet .projet-container .projet-left .projet-left-container .href a:hover i {
  transform: translate(9px);
}
.projet .projet-container .projet-left .projet-left-container .href a i {
  transform: translateX(7px);
}
.projet .projet-container .projet-left .projet-right {
  background: url(../image/build-better-together.webp) center/cover;
  width: 100%;
}
.projet .projet-container .projet-right {
  background: url(../image/build-better-together.webp) center/cover;
}
@media screen and (max-width: 1030px) {
  .projet .projet-container .projet-right {
    height: 400px;
  }
}
@media screen and (max-width: 710px) {
  .projet .projet-container .projet-right {
    width: 100%;
    margin: 10px auto;
    height: 350px;
  }
}

footer {
  background: rgb(24, 74, 139);
}
footer .site-footer {
  padding: 40px 0;
}
footer .site-footer .site-footer-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
@media screen and (max-width: 650px) {
  footer .site-footer .site-footer-container {
    display: block;
    height: 730px;
    padding: 0 20px 0;
  }
}
footer .site-footer .site-footer-container::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: rgba(212, 212, 212, 0.374);
  bottom: 0;
}
footer .site-footer .site-footer-container .div-container h4 {
  color: rgb(255, 255, 255);
  font-family: mont regular;
  font-size: 1.2rem;
  padding-bottom: 20px;
}
@media screen and (max-width: 650px) {
  footer .site-footer .site-footer-container .div-container h4 {
    padding-top: 30px;
    padding-bottom: 5px;
  }
}
footer .site-footer .site-footer-container .div-container ul li {
  font-size: 0.9rem;
}
footer .site-footer .site-footer-container .div-container ul li a {
  color: rgb(224, 238, 254);
  font-family: mont regular;
  padding: 5px;
  display: inline-block;
  font-weight: bold;
  transition: 0.3s;
}
footer .site-footer .site-footer-container .div-container ul li a:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 650px) {
  footer .site-footer .site-footer-container .div-container ul li ul li a::hover {
    transform: scale(1);
  }
}
footer .end {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1250px;
  margin: 0 auto;
  padding-bottom: 30px;
}
@media screen and (max-width: 1066px) {
  footer .end {
    padding: 0 15px 10px 15px;
  }
}
@media screen and (max-width: 690px) {
  footer .end {
    display: block;
    gap: 10px;
    -ms-flex-align: center;
        align-items: center;
    margin: 0 auto;
  }
}
footer .end .end-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
footer .end .end-left .end-left-container p {
  font-family: "mont extraBold";
  color: rgb(255, 255, 255);
  font-weight: bold;
}
@media screen and (max-width: 1280px) {
  footer .end .end-left .end-left-container p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 443px) {
  footer .end .end-left .end-left-container p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 690px) {
  footer .end .end-right {
    margin-top: 15px;
  }
}
footer .end .end-right .end-right-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 690px) {
  footer .end .end-right .end-right-container {
    -ms-flex-pack: justify;
        justify-content: space-between;
    text-align: center;
  }
}
@media screen and (max-width: 1066px) {
  footer .end .end-right .end-right-container li {
    padding: 0 5px;
  }
}
footer .end .end-right .end-right-container li a {
  font-family: mont regular;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
}
@media screen and (max-width: 1280px) {
  footer .end .end-right .end-right-container li a {
    font-size: 0.8rem;
    padding: 1px;
  }
}/*# sourceMappingURL=index.css.map */