header {
  .nav {
    .nav-container {
      display: grid;
      grid-template-columns: 40% 60%;
      max-width: 1250px;
      margin: 15px auto 20px;
    }

    a {
      place-self: end start;

      img {
        width: 180px;

        @media screen and (max-width: 1290px) {
          margin-left: 15px;
          width: 165px;
        }
        @media screen and (max-width: 1140px) {
          width: 170px;
        }
      }
    }
    .contain {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media screen and (max-width: 1277px) {
        margin-right: 20px;
      }

      @media screen and (max-width: 1140px) {
        display: none;
      }

      .p-contain {
        background: $blue1;
        border-radius: 90px;
        padding: 7px;

        margin-left: 65%;
        p {
          color: $white;
          font-family: $font1;
          text-transform: uppercase;
          font-size: 0.8rem;

          font-weight: 600;

          @media screen and (max-width: 1277px) {
            font-size: 0.7rem;

            padding: 2px 0;
          }

          i {
            color: $blue2;
          }
        }
      }
      .upper {
        display: flex;
        justify-content: space-between;

        li {
          font-family: $font2;
          font-weight: bold;
          color: $blue1;

          a,
          a:visited {
            color: $blue1;
          }
        }
      }
    }
  }
  .view {
    background: $blue2;
    margin-bottom: 30px;

    .view-container {
      @include grid;
      grid-template-areas: "texte image";
      padding: 30px 20px 20px 20px;

      @media screen and (max-width: 980px) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "image"
          "texte";
        gap: 40px;
        padding-bottom: 30px;
      }

      .view-left {
        grid-area: texte;
        display: flex;
        .view-left-container {
          display: grid;
          grid-template-columns: 15% 85%;
          grid-template-areas: "a b";
          @media (max-width: 980px) {
            grid-template-columns: 1fr;
            grid-template-areas:
              "b"
              "a"; // l’image passe au-dessus
          }

          .view-left-left {
            @include centerChild;

            @media screen and (max-width: 980px) {
              display: block; // ou inline-block selon ton besoin
              justify-content: initial;
              align-items: initial;
            }

            .span-container {
              display: flex;
              flex-direction: column;
              gap: 10px;
              border: 1px solid transparent;
              background: $blue4;
              width: 20%;

              border-radius: 50px;
              padding: 20px;

              @media (max-width: 980px) {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 50px;
                justify-content: center;
              }
              @media (max-width: 600px) {
                width: 30%;
                height: 10px;
              }
              @media (max-width: 450px) {
                width: 40%;
                height: 10px;
              }
              .texte {
                grid-area: a;
              }
              i {
                font-size: 0.6rem;
                place-self: center;

                display: block;
              }
            }
          }
          .view-left-right {
            grid-area: b;

            @media screen and (max-width: 980px) {
              text-align: left;
            }
            .texte {
            }
            h1 {
              font-family: $font2;
              letter-spacing: 1.2px;
              font-size: 3.2rem;
              color: $noir2;

              @media screen and (max-width: 1140px) {
                font-size: 3rem;
              }
              @media screen and (max-width: 980px) {
                font-size: 2rem;
              }
            }
            .href {
              margin-top: 20px;

              @media (max-width: 980px) {
                margin-top: 30px;
              }
              a {
                border: 2px solid $noir1;
                padding: 15px;
                border-radius: 80px;
                text-transform: uppercase;
                font-family: $font2;
                font-weight: 300;
                font-size: 0.8rem;
                color: $noir1;

                i {
                  transform: translateX(5px);
                  transition: 0.3s;
                }
                &:hover {
                  i {
                    transform: translateX(10px);
                  }
                }
              }
            }
          }
        }
      }
      .view-right {
        background: url(../image/image1.webp) center/cover;
        height: 400px;
        grid-area: image;

        @media screen and (max-width: 980px) {
          width: 100%;
          margin: 30px auto;
          height: 300px;
        }
      }
    }
  }
}
