main {
  background: $blue1;
  padding: 30px;

  .main-container {
    // margin-top: 30px;
    max-width: 1350px;

    margin: 0 auto;

    padding: 30px;

    h2 {
      font-family: $font2;
      letter-spacing: 1.5px;
      color: $white;
      font-size: 3rem;
      padding-bottom: 40px;
    }
    .expertise {
      .expertise-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;

        .expertise-left > div {
          display: grid;
          grid-template-columns: 20% 60% 20%;
          background: $white;
          margin: 20px 0;
          padding: 20px 10px;
          border-radius: 5px;
          gap: 20px;

          .image {
            @include centerChild;
            img {
              width: 100%;
              height: 100%;

              border-radius: 5px;
            }
          }
          .text {
            place-self: center;
            font-family: $font1;
            font-weight: bold;

            h5 {
              font-size: 1.2rem;
              padding-bottom: 10px;
              font-family: $font2;
            }
            p {
              line-height: 1.8;
              font-size: 0.8rem;
              text-align: left;
              letter-spacing: 1px;
              font-weight: bold;
            }
          }
          .bubble {
            place-self: center;
            border: 1px solid $noir1;
            border-radius: 80px;
            padding: 8px;

            i {
              transform: rotate(53deg);
              font-size: 0.7em;
            }
          }
        }
        .expertise-right > div {
          display: grid;
          grid-template-columns: 20% 60% 20%;
          background: $white;
          margin: 20px 0;
          padding: 20px 10px;
          border-radius: 5px;
          gap: 20px;

          .image {
            @include centerChild;
            img {
              width: 100%;
              height: 100%;

              border-radius: 5px;
            }
          }
          .text {
            place-self: center;
            font-family: $font1;
            font-weight: bold;

            h5 {
              font-size: 1.2rem;
              padding-bottom: 10px;
              font-family: $font2;
            }
            p {
              line-height: 1.8;
              font-size: 0.8rem;
              text-align: left;
              letter-spacing: 1px;
              font-weight: bold;
            }
          }
          .bubble {
            place-self: center;
            border: 1px solid $noir1;
            border-radius: 80px;
            padding: 8px;

            i {
              transform: rotate(53deg);
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }
}
