main {
  background: $blue1;
  padding: 30px;

  .main-container {
    // margin-top: 30px;
    max-width: 1150px;
    margin: 0 auto;
    padding: 30px;

    @media screen and (max-width: 1070px) {
      width: 100%;
      max-width: none;
      padding: 0;
      margin: 0 auto;
    }

    h2 {
      font-family: $font2;
      letter-spacing: 1.5px;
      color: $white;
      font-size: 3rem;
      padding-bottom: 40px;
      @media screen and (max-width: 870px) {
        text-align: left;
        font-size: 2.5rem;
      }
    }

    .expertise {
      .expertise-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;

        @media screen and (max-width: 870px) {
          display: block;
        }

        .expertise-left > div {
          display: grid;
          grid-template-columns: 25% 65% 10%;
          grid-template-areas: "enfant1 enfant2 enfant3";
          background: $white;
          margin: 20px 0;
          padding: 30px 10px;
          border-radius: 5px;
          align-items: center;

          position: relative;

          @media (max-width: 1066px) {
            grid-template-columns: 30% 70%;
            grid-template-rows: auto auto;
            grid-template-areas:
              "enfant1 enfant2"
              ". enfant3";
          }
          // @media screen and (max-width: 1070px) {
          //   height: 200px;
          // }

          > :nth-child(1) {
            grid-area: enfant1;
          }
          > :nth-child(2) {
            grid-area: enfant2;
          }
          > :nth-child(3) {
            grid-area: enfant3;
          }

          .image {
            @include centerChild;
            display: grid;
            img {
              // width: 100%;
              display: block;

              border-radius: 5px;
              width: 100%;
              height: 100%;
              object-fit: cover; /* ou contain selon le rendu voulu */
              display: block;
              object-fit: contain;
              place-self: center;
            }
            // @media screen and (max-width: 870px) {
            //   width: 80%;
            //   margin: 0 auto;
            // }
          }
          .text {
            place-self: center;
            font-family: $font1;
            font-weight: bold;
            font-size: clamp(12px, 1.8vw, 18px); // taille fluide
            overflow-wrap: break-word;
            padding-left: 15px;

            @media screen and (max-width: 1070px) {
              place-self: start;
            }

            h5 {
              font-size: 1.2rem;
              padding-bottom: 8px;
              font-family: $font2;
              font-size: clamp(14px, 2vw, 18px);
              @media screen and (max-width: 1166px) {
                font-size: 1rem;
              }
              @media screen and (max-width: 870px) {
                font-size: 1.2rem;
              }
              @media screen and (max-width: 500px) {
                font-size: 1rem;
              }
            }
            p {
              font-size: clamp(11px, 1.2vw, 14px);
              line-height: 1.8;
              font-size: 0.7rem;
              text-align: left;
              letter-spacing: 1px;
              font-weight: bold;
              @media screen and (max-width: 1190px) {
                font-size: 0.6rem;
              }
              @media screen and (max-width: 870px) {
                font-size: 0.8rem;
              }
              @media screen and (max-width: 500px) {
                font-size: 0.7rem;
              }
              @media screen and (max-width: 554px) {
                padding-bottom: 30px;
              }
            }
          }
        }
        .bubble {
          place-self: center;
          border: 1px solid $noir1;
          border-radius: 80px;
          padding: 8px;
          @media screen and (max-width: 1066px) {
            place-self: end;
          }
          @media screen and (max-width: 870px) {
            bottom: -10px;
            position: absolute;
          }
          // @media screen and (max-width: 1000px) {
          //   margin-top: 25px;
          // }

          i {
            transform: rotate(53deg);
            font-size: 0.7em;
          }
        }
      }
      .expertise-right > div {
        display: grid;
        grid-template-columns: 25% 65% 10%;
        grid-template-areas: "enfant1 enfant2 enfant3";
        background: $white;
        margin: 20px 0;
        padding: 30px 10px;
        border-radius: 5px;
        align-items: center;

        position: relative;

        @media (max-width: 1066px) {
          grid-template-columns: 30% 70%;
          grid-template-rows: auto auto;
          grid-template-areas:
            "enfant1 enfant2"
            ". enfant3";
        }
        // @media screen and (max-width: 1070px) {
        //   height: 200px;
        // }

        > :nth-child(1) {
          grid-area: enfant1;
        }
        > :nth-child(2) {
          grid-area: enfant2;
        }
        > :nth-child(3) {
          grid-area: enfant3;
        }

        .image {
          @include centerChild;
          display: grid;
          img {
            // width: 100%;
            display: block;

            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover; /* ou contain selon le rendu voulu */
            display: block;
            object-fit: contain;
            place-self: center;
          }
          // @media screen and (max-width: 870px) {
          //   width: 80%;
          //   margin: 0 auto;
          // }
        }
        .text {
          place-self: center;
          font-family: $font1;
          font-weight: bold;
          font-size: clamp(12px, 1.8vw, 18px); // taille fluide
          overflow-wrap: break-word;
          padding-left: 15px;

          @media screen and (max-width: 1070px) {
            place-self: start;
          }

          h5 {
            font-size: 1.2rem;
            padding-bottom: 8px;
            font-family: $font2;
            font-size: clamp(14px, 2vw, 18px);
            @media screen and (max-width: 1166px) {
              font-size: 1rem;
            }
            @media screen and (max-width: 870px) {
              font-size: 1.2rem;
            }
            @media screen and (max-width: 500px) {
              font-size: 1rem;
            }
          }
          p {
            font-size: clamp(11px, 1.2vw, 14px);
            line-height: 1.8;
            font-size: 0.7rem;
            text-align: left;
            letter-spacing: 1px;
            font-weight: bold;
            @media screen and (max-width: 1190px) {
              font-size: 0.6rem;
            }
            @media screen and (max-width: 870px) {
              font-size: 0.8rem;
            }
            @media screen and (max-width: 500px) {
              font-size: 0.7rem;
            }
            @media screen and (max-width: 554px) {
              padding-bottom: 30px;
            }
          }
        }
      }
      .bubble {
        place-self: center;
        border: 1px solid $noir1;
        border-radius: 80px;
        padding: 8px;
        @media screen and (max-width: 1066px) {
          place-self: end;
        }
        @media screen and (max-width: 870px) {
          bottom: -10px;
          position: absolute;
        }
        // @media screen and (max-width: 1000px) {
        //   margin-top: 25px;
        // }

        i {
          transform: rotate(53deg);
          font-size: 0.7em;
        }
      }
    }
  }
}
