.about {
  max-width: 1200px;
  margin: 90px auto;

  @media screen and (max-width: 1160px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 870px) {
    margin: 50px 0 90px 0;
  }

  .about-container {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    margin: 40px 0;

    @media screen and (max-width: 890px) {
      display: block;
    }
    @media screen and (max-width: 870px) {
      margin: 0;
    }

    h2 {
      font-family: $font2;
      font-size: 3rem;
      letter-spacing: 1.5px;
      place-self: start;
      padding-left: 10px;

      @media screen and (max-width: 890px) {
        font-size: 2.4rem;
        margin-bottom: 30px;
      }
    }
    .about-item {
      border-bottom: 3px solid $white2;
      padding-bottom: 30px;
      padding: 5px 10px 30px 10px;

      position: relative;
      @media screen and (max-width: 870px) {
        padding-top: 20px;
      }

      .link {
        .link-container {
          display: inline-block;
          a,
          a:visited {
            color: $noir2;
          }
          a {
            border: 1px solid $blue1;
            padding: 2px 14px;
            border-radius: 80px;
            font-family: $font2;
            font-size: 0.8rem;
            display: inline-block;
            font-weight: bold;
            letter-spacing: 1px;

            margin: 0 5px 30px 5px;
            transition: 0.3s;

            &:hover {
              text-decoration: underline;
              text-decoration-thickness: 1.7px;
            }
          }
        }
      }
      .news {
        .news-container {
          display: grid;
          grid-template-columns: 45% 55%;
          height: 180px;
          @media screen and (max-width: 890px) {
            display: flex;
            padding-bottom: 20px;
            align-items: center;
          }

          .img {
            height: 100%;
            img {
              height: 35%;
              border-radius: 5px;
              @media screen and (max-width: 1080px) {
                height: 30%;
              }
              @media screen and (max-width: 890px) {
                display: block; // prend toute la largeur de son conteneur

                height: 80%;
              }
            }
          }
          p {
            font-family: $font1;
            font-weight: bold;
            font-size: 1.1rem;
            padding-left: 10px;
            user-select: none;

            @media screen and (max-width: 1140px) {
              padding-left: 15px;
            }
            @media screen and (max-width: 1080px) {
              font-size: 1rem;
              padding-left: 20px;
            }
            @media screen and (max-width: 890px) {
              padding-left: 10px;
              overflow-wrap: break-word; // autorise la coupure dans les mots trop longs
              word-wrap: break-word; // rétro-compatibilité
              hyphens: auto; // ajoute un tiret si nécessaire
              white-space: normal;
              place-self: start;
            }
          }
        }
        .date {
          span.num {
            font-family: $font1;
            font-size: 0.9rem;
            font-weight: bold;

            @media screen and (max-width: 890px) {
              font-size: 0.7rem;
            }
          }
          span.buble {
            position: absolute;
            right: 0;
            display: inline-block;

            i {
              border: 1px solid transparent;
              border-radius: 45px;
              padding: 8px 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: $white2;
            }
          }
        }
      }
    }
  }
  .href {
    margin-top: 210px;
    cursor: pointer;

    @media screen and (max-width: 1030px) {
      text-align: center;
    }

    a {
      border: 1px solid transparent;
      padding: 18px;
      border-radius: 80px;
      background: $blue1;
      text-transform: uppercase;
      color: $white;
      font-family: $font2;
      font-size: 0.8rem;

      letter-spacing: 1px;

      transition: 0.3s;

      &:hover {
        i {
          transform: translate(9px);
        }
      }

      i {
        transform: translateX(7px);
      }
    }
  }
}
