.projet {
  margin-top: 20px;
  background: $blue5;
  padding: 30px 0;

  .projet-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 43% 57%;

    @media screen and (max-width: 1150px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 1030px) {
      display: block;
    }

    .projet-left {
      display: grid;
      @include centerChild;
      .projet-left-container {
        padding: 90px 20px;

        @media screen and (max-width: 1030px) {
          padding-top: 10px;
        }
        @media screen and (max-width: 710px) {
          padding-bottom: 40px;
        }

        h3 {
          font-family: $font2;
          font-size: 2.5rem;
          letter-spacing: 2px;
          @media screen and (max-width: 600px) {
            font-size: 2.3rem;
          }
        }
        p {
          font-family: $font1;
          width: 75%;
          line-height: 1.5;
          padding: 20px 0;
          font-weight: 500;

          @media screen and (max-width: 1030px) {
            width: 90%;
          }
        }
        .href {
          margin-top: 30px;
          transition: 0.3s;

          a {
            border: 1px solid transparent;
            padding: 18px;
            border-radius: 80px;
            background: $blue1;
            text-transform: uppercase;
            color: $white;
            font-family: $font2;
            font-size: 0.8rem;

            letter-spacing: 1px;

            &:hover {
              i {
                transform: translate(9px);
              }
            }

            i {
              transform: translateX(7px);
            }
          }
        }
      }
      .projet-right {
        background: url(../image/build-better-together.webp) center/cover;
        width: 100%;
      }
    }
    .projet-right {
      background: url(../image/build-better-together.webp) center/cover;

      @media screen and (max-width: 1030px) {
        height: 400px;
      }
      @media screen and (max-width: 710px) {
        width: 100%;
        margin: 10px auto;
        height: 350px;
      }
    }
  }
}
