.txt {
  height: 250px;
  @include centerChild;
  align-items: center;
  .txt-container {
    max-width: 1000px;
    margin: 0px auto;

    p {
      font-family: $font1;
      color: $noir1;
      font-weight: bold;
      line-height: 2;
      place-items: center;
      display: block;
      letter-spacing: 1px;

      @media screen and (max-width: 1070px) {
        padding: 0 20px;
        width: 80%;
        margin: 0 auto;
      }
      @media screen and (max-width: 520px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 469px) {
        padding-bottom: 30px;
      }

      a {
        text-decoration: underline;
        font-family: $font2;
        text-underline-offset: 1.5px;
      }
    }
  }
}
